/**notice_set 위치 설정
*******************************/
.notice_set {
    position: relative;
    height: 62px;
    width: 100%;
}



/**notice (좌,우)배경색 설정
*******************************/
.line_notice_left {
    background: #111;
    left: 0;
    top: 0;
    position: absolute;
    height: 62px;
    width: 50%;
}

.line_notice_right {
    background: #f6f5ef;
    right: 0;
    top: 0;
    position: absolute;
    height: 62px;
    width: 50%;
}

/**notice 안쪽 내용 위치 설정
*******************************/
.notice_inner {
    height: 62px;
    position: relative;
    width: 100%;
    background: url(../img/line_notice_bg.jpg);
    left: 50%;
    margin-left: -640px;
    width: 1280px;
}

/**좌측 공지사항 위치설정
*******************************/
.notice_left {
    height: 62px;
    width: 730px;
}

.notice_left_inner {
    height: 36px;
    margin-left: 98px;
    padding-top: 13px;
    width: 621px;
    position: relative;
    display: box;
}

/**좌측 공지사항 글자표시
*******************************/
.notice_word {
    background: url(../img/notice_ttl.png);
    height: 17px;
    width: 65px;
    left: 0;
    top: 41%;
    overflow: hidden;
    position: absolute;
    text-indent: -20000px;
}

.notice_item {
    width: 300px;
    float: left;
    color: #fff;
    position: absolute;
    left: 15%;
    top: 45%;
}

/**좌측 플러스 모양 표시
*******************************/
.notice_left_inner a,
.btn_notice_plus {
    background-size: 36px;
    height: 36px;
    width: 36px;
    float: right;
    position: relative;
}


/**우측 공지사항 표시
*******************************/
.notice_right {
    position: absolute;
    left: 70%;
    top: 21px;
}

.notice_right_inner {
    top: 0;
    float: left;
    width: 234px;
    display: block;
}

.notice_right_inner a {
    display: block;
}

/**우측 공지사항 크기 조절
*******************************/
.notice_right_word {
    background-size: 100%;
    height: 17px;
    width: 129px;
}

.notice_right_btn {
    width: 36px;
    height: 36px;
    float: right;
    position: absolute;
    top: -7px;
    right: 22%;
}

/******* 슬라이드 내용영역 꾸미기 *******/
.slider_set {
    display: none;
}

/**new_rewards
*******************************/
.new_rewards {
    background-color: #1e3932;
    padding-top: 30px;
    padding-bottom: 40px;
}

.new_rewards_inner {
    max-width: 1080px;
    height: 100%;
    margin: 0 auto;
}

/**new_rewards 로고부분
*******************************/
.new_rewards_logo {
    float: left;
    width: 16.3%;
    text-align: center;
    margin : 0 40px 0 40px;

}

.new_rewards_logo img {
    width: 176px;
}

/**new_rewards 우측부분(글)
*******************************/
.new_rewards_contents {
    box-sizing: border-box;
    float: left;
    color: #fff;
    padding-right: 30px;
    letter-spacing: 0.5px;
    width: 793px;

}

.new_rewards_info h2 {
    line-height: 1.4;
    margin-bottom: 12px;
    font-size: 26px;
    font-weight: normal;
}

.new_rewards_info p{
    line-height: 1.4;
    font-size: 17px;
}
.new_rewards_gift p{
    line-height: 1.4;
    font-size: 14px;
}
strong{
    font-weight: bold;
}

/**new_rewards 우측부분 border처리
*******************************/
.new_rewards_word{
    margin-bottom: 12px;
}

.new_rewards_info{
    margin-bottom: 22px;
    border-bottom: 1px solid #4b615b;
    position: relative;
}

/** login/signin 버튼 위치 조절
*******************************/
.new_rewards_info .r_btn_set{
    position: absolute;
    display: inline-block;
    float: left;
    left: 75%;
    bottom: 51%;
}

/** login 버튼
*******************************/
.r_btn_set .login a{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
    transition: background-color .5s;
}

.r_btn_set .login a:hover{
   background-color: #fff;
    color: #fff;
}

.r_btn_set .login{
    box-sizing: border-box;
    width: 87px;
    height: 38px;
    line-height: 34px;
    text-align:center;
    font-size:14px;
    color: #fff;
    border:2px solid  #fff;
    border-radius:6px;
    z-index:5;
    margin-left: 103px;
    position: absolute;
}

/** signin 버튼
*******************************/
.r_btn_set .signin a{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
    transition: background-color .5s;
}

.r_btn_set .signin a:hover{
   background-color: #00704a;
    color: #fff;
}

.r_btn_set .signin{
    box-sizing: border-box;
    width: 87px;
    height: 38px;
    line-height: 34px;
    text-align:center;
    font-size:14px;
    color: #fff;
    border:2px solid  #00704a;
    background-color: #00704a;
    border-radius:6px;
    z-index:5;
    position: absolute;
}

/** e-gift 버튼
*******************************/
.e_gift_btn a{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
    transition: background-color .5s;
}

.e_gift_btn a:hover{

    color: #fff;
}

.e_gift_btn{
    box-sizing: border-box;
    width: 191px;
    height: 38px;
    line-height: 34px;
    text-align:center;
    font-size:14px;
    color: #fff;
    border:2px solid  #fff;
    border-radius:6px;
    z-index:5;
    position: absolute;
    bottom: 0;
    right: 0;
}

.new_rewards_gift{
    position: relative;
}